fastapi
uvicorn[standard]
python-multipart

faiss-cpu
numpy

sentence-transformers
transformers
torch

psycopg2-binary
python-dotenv

pydantic

networkx
graphviz

Pillow

matplotlib

typing-extensions